<h1>Hi, <%= @user_mail %></h1>
<p>The post with title: <%= @post_created.title %></p>
<p>content: <%= @post_created.content %></p>
<p>was created at <%= @post_created.created_at %></p>
<p>check the new post <a href=<%= @post_url %>>here</a>.</p>
<p>RailsOverflow Rocks!</p>